<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "rental system", '/', id: "logo" %>
        <nav>
        	<ul class="nav navbar-nav navbar-right">
            	<li><%= link_to "Home", '/' %></li>
            	<li><%= link_to "Admin", '/admin/index' %></li>
            	<li><%= link_to "Products", "/products" %></li>
          	</ul>
        </nav>
    </div>
</header>