<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "rental system", '/', id: "logo" %>
        <nav>
        	<ul class="nav navbar-nav navbar-right">
            	<li><%= link_to "Home", '/' %></li>
            	<li><%= link_to "Inventory", '/inventory/index' %></li>
            	<li class="pull-md-right"><%= link_to "Login", "/admin/index" %></li>
          	</ul>
        </nav>
    </div>
</header>